<form action="https://localhost:44322/View/BTTH/Bai15" method="post" id="form1" accept-charset="UTF-8">
    <span>Name</span>&nbsp; &nbsp;<input id="name" type="text" name="hoten" />
    <br />
    <span>Date Of Birth</span>&nbsp; &nbsp;<input id="ns" type="date" name="ns" />
    <br />
    <span>Gender</span>
    <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <br />
    <input id="Button1" type="submit" value="send" name="send" />
</form>