/* Move down content because we have a fixed navbar that is 50px tall */
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-top: 80px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.toastParent {
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 25vw;
}

.chatLayout {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 5vw;
    border-radius: 10px;
}

.chatContent{
    background-color: white;
    height: 75vh;
}

.chatInput{
    height: 10vh;
    background-color: #808080;
}

.chatInput textarea{
    width:75%;
    resize:none;
    height: 10vh;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*@media screen and (max-width: 992px) {
    .navButton {
        width: 100%;
    }
}*/
